// section style
.section {
  @apply pt-[70px] pb-[70px];
}

// container
.container {
  @apply mx-auto max-w-[1140px] px-4;
}

// form style
.form-inputs * {
  @apply mb-5 leading-10;
}

// social icon style
.social-icons {
  @apply space-x-4;
  li {
    @apply inline-block;
    a {
      @apply block h-9 w-9 rounded-full border border-primary hover:bg-primary text-center text-white transition;

      svg {
        @apply m-auto h-9 fill-primary;
      }

      &:hover svg {
        @apply fill-white;
      }
    }
  }
}

// form style
.form-input,
.form-textarea {
  @apply border-border focus:border-primary focus:ring-transparent py-[6px];
}

// content style
.content {
  @apply prose max-w-none prose-headings:font-bold prose-h1:mb-4 prose-h1:text-h1-sm prose-h2:mb-4 prose-h2:mt-4 prose-h2:text-h2-sm prose-h3:mt-4 prose-h3:text-h3-sm prose-h4:mt-4 prose-h5:text-base prose-h5:mb-4 prose-h6:mb-6 prose-h6:text-[15px] prose-blockquote:border-primary prose-blockquote:py-1 prose-blockquote:px-4 md:prose-h1:text-h1 md:prose-h2:text-h2 md:prose-h3:text-h3 hover:prose-a:text-primary prose-a:no-underline prose-ul:list-none prose-ul:pl-0 prose-ol:pl-4 prose-hr:my-5;

  ul {
    li {
      @apply before:content-[''] before:absolute before:left-0 before:w-2 before:h-2 before:rounded-full before:bg-primary relative pl-5 before:top-[10px]
    }
  }
}

//feature card
.feature-card {
  @apply hover:shadow duration-200 ease-in-out transition-all	;
}


//swiper pagination
.service-carousel .swiper-pagination {
  @apply flex justify-center;

  span {
    @apply w-[10px] h-[10px] rounded-full border border-primary mx-[5px] inline-block  cursor-pointer;
    &.swiper-pagination-bullet-active {
      @apply bg-primary;
    }
  }
}


//cta link
.cta-link {
  img   {
    transition: margin .3s ease;
  }
  &:hover {
    img {
      @apply ml-2
    }
  }
}

//card
.card {
  @apply border mt-10 md:mt-0 border-[rgba(0,0,0,.125)] shadow px-5 py-12 bg-white py-12 px-5 rounded-[4px];

}

.col--recommended {
  @apply md:-mx-8 md:-my-6 relative z-10;

  .card {
    @apply border-0 shadow-[0_1rem_3rem_rgba(0,0,0,.175)];
  }
}

//faq
.faq {
  &-head {
    &::before {
      @apply content-[''] absolute w-6 h-6 bg-[length:24px] -left-8 top-1;
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='342.508px' height='342.508px' viewBox='0 0 342.508 342.508' style='enable-background:new 0 0 342.508 342.508;' xml:space='preserve'%3E%3Cpath fill='%230aa8a7' d='M171.254,0C76.837,0,0.003,76.819,0.003,171.248c0,94.428,76.829,171.26,171.251,171.26 c94.438,0,171.251-76.826,171.251-171.26C342.505,76.819,265.697,0,171.254,0z M245.371,136.161l-89.69,89.69 c-2.693,2.69-6.242,4.048-9.758,4.048c-3.543,0-7.059-1.357-9.761-4.048l-39.007-39.007c-5.393-5.398-5.393-14.129,0-19.521 c5.392-5.392,14.123-5.392,19.516,0l29.252,29.262l79.944-79.948c5.381-5.386,14.111-5.386,19.504,0 C250.764,122.038,250.764,130.769,245.371,136.161z'/%3E%3C/svg%3E");
    }
  }
  &-body {
    a {
      @apply text-primary;
    }
  }
}

// informations pages: roadmap & cgu
.utilities {
  &-body {
    a {
      @apply text-primary;
    }
  }
}	
//contact
.contact-list {
  a {
    @apply font-semibold text-dark;
  }
}
